<%= link_to("Back", employee_index_path, :class => 'back-link')%>

<div>
  <h1>Create Supplier</h1>
  <%= form_for(@employee,:url => employee_index_path,:method => 'post')do |f| %>
  <table>
  <tr>
    <th> Enter Employee Name </th>
    <td><%= f.text_field(:name)%></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Create Employee")%>
  </div>
  <%end%>
</div>

